/*
Amarelo: #FFC500;
Azul: #0081BC;
*/



a:hover, a:focus, a:active {
	color: #FFC500;
  }

.card{
  position: relative;
  max-width: 300px;
  height: auto;
  background: #0081BC;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px 20px;
  box-shadow: 0 10px 15px;
  transition: .1s;
}

.card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}

  
h1{
	padding: 25px;
}


p.paragraph {
	text-align: justify;
	text-indent: 50px;
}





.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
  }
  .one {
    background:white;
  }
  .two {
    background:white;
  }
  .three {
    background:white;
  }
  .four {
    background: #00dfdf;
  }
  .wrapper {
   
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
    }
    .outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .outer-wrapper img{
      margin-left: auto;
      margin-right: auto;
    
    }
        ::-webkit-scrollbar {
          display:none;
        }
    