a:hover, a:focus, a:active {
	color: #FFC500;
  }



  
h1{
	padding: 25px;
}


p.paragraph {
	text-align: justify;
	text-indent: 50px;
}





.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
  }
  .one {
    background:white;
  }
  .two {
    background:white;
  }
  .three {
    background:white;
  }
  .four {
    background: #00dfdf;
  }
  .wrapper {
   
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
    }
    .outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .outer-wrapper img{
      margin-left: auto;
      margin-right: auto;
    
    }
        ::-webkit-scrollbar {
          display:none;
        }
    